h1, h2, h3, h4, h5, h6 {
  background: rgb(237,232,224);
  background: linear-gradient(75deg, rgba(237,232,224,1) 0%, rgba(253,248,240,1) 35%);
  border-bottom: solid 1px #A6A194;
  padding: 3px 8px;
}

h1 {
  background: rgb(223,214,200);
  background: linear-gradient(75deg, rgba(223,214,200,1) 0%, rgba(253,248,240,1) 35%);
  margin-bottom: 1em;
}

h2 {
  margin-top: $spacer;
  margin-bottom: 0.8em;
}

pre {
  background-color: #EDE8E0;
  border-left: solid 5px #C6C1B4;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  color: #464138;
  margin: $spacer ($spacer * 2);
  padding: $spacer;
}

blockquote {
  background-color: #EDE8E0;
  border-left: solid 5px #C6C1B4;
  font-style: italic;
  margin: $spacer ($spacer * 2);
  padding: $spacer;
}

div.logo {
  background: rgb(228,217,200);
  background: linear-gradient(0deg, rgba(228,217,200,1) 0%, rgba(250,248,245,1) 75%);
  height: 80px;
}

div.logo img {
  object-fit: contain;
  width: 100%;
  height: 80px;
  padding: $spacer / 2;
}

nav.navbar {
  background: rgb(198,193,180);
  background: linear-gradient(180deg, rgba(198,193,180,1) 0%, rgba(134,129,120,1) 8%, rgba(168,163,154,1) 50%);
  border-top: solid 1px #666151;
  border-bottom: solid 1px #666151;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  padding: 0.2em;
}

nav.navbar .nav-link {
  font-weight: bold;
  padding: 0.25em 1em;
}

main.container {
  border-left: solid 1px #A6A194;
  border-right: solid 1px #A6A194;
}

@include media-breakpoint-down(xxl) {
  main.container {
    border: none;
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
}

.content {
  background: #FDF8F0;
  padding: 2em;
}

@include media-breakpoint-down(lg) {
  .content {
    padding: 1em;
  }
}

.posted-on {
  @extend .float-end;
  font-weight: normal;
  font-size: 0.65em;
  color: #A6A194;
  padding-top: 0.5em;
}

.more-link {
  color: #A6A194;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

aside.sidebar {
  background-color: #DFD6C8;
  border-left: solid 1px #A6A194;
  font-size: 0.95em;
  padding: 0;
}

@include media-breakpoint-down(md) {
  aside.sidebar {
    border-left: none;
  }
}

aside.sidebar .widget-title {
  background: rgb(194,187,176);
  background: linear-gradient(180deg, rgba(194,187,176,1) 0%, rgba(176,170,160,1) 8%, rgba(223,214,200,1) 92%);
  border-bottom: solid 1px #A6A194;
  color: #666151;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  width: 100%;
}

aside.sidebar ul {
  list-style-type: none;
  color: #464131;
  margin: 0.5em 0.5em 1em 0.5em;
  padding: 0;
}

aside.sidebar li > ul {
  margin-top: 0;
}

aside.sidebar li:before {
  content: '›';
  font-weight: bold;
  padding-right: 0.3em;
}

aside.sidebar p {
  color: #464131;
  margin: 0.5em 0.5em 1em 0.5em;
}

aside.sidebar p.social {
  text-align: center;
  margin: 1em 0;
}

aside.sidebar p.social a {
  margin: 0.5em 0.3em;
  padding: 0.3em 0;
}

aside.sidebar p.social i {
  color: #FFFFFF;
  width: 2em;
}

aside.sidebar p.social a:hover {
  opacity: 0.7;
}

aside.sidebar p.social .facebook {
  background-color: #3B5999;
}

aside.sidebar p.social .twitter {
  background-color: #55ACEE;
}

aside.sidebar p.social .reddit {
  background-color: #FF5700;
}

footer.sitemap {
  background-color: #C6C1B4;
  border-top: solid 1px #A6A194;
  font-size: 0.9em;
  color: #666151;
  padding: 2em 0.5em;
}

footer.sitemap p {
  margin: 0;
}

footer.sitemap ul {
  list-style-type: none;
  color: #464131;
  margin-bottom: 0;
  padding-left: 0;
}

footer.sitemap li:before {
  content: '›';
  font-weight: bold;
  padding-right: 0.3em;
}

footer.copyright {
  background-color: #A6A194;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #666151;
  padding: $spacer;
}

footer.copyright p {
  margin: 0;
}

footer.copyright a:link,
footer.copyright a:active,
footer.copyright a:visited {
  color: #666151;
  text-decoration: underline;
}

footer.copyright a:hover {
  color: #666151;
  text-decoration: none;
}
