$primary: #003399;

$body-bg: #204050;
$body-color: #000000;

$link-color: #003399;
$link-hover-color: #000000;
$link-hover-decoration: none;

$h1-font-size: 1.5em;
$h2-font-size: 1.1em;

$headings-color: #464131;
$headings-font-weight: bold;

$navbar-nav-link-padding-x: 0.8em;
$navbar-dark-color: #464131;
$navbar-dark-hover-color: #666151;

$dropdown-color: #464131;
$dropdown-bg: #DFD6C8;
$dropdown-border-color: #A6A194;
$dropdown-link-hover-bg: #C6C1B4;

$pagination-bg: #EDE8E0;
$pagination-border-color: #C6C1B4;
$pagination-hover-bg: #DFD6C8;
$pagination-hover-border-color: #C6C1B4;

$input-bg: #FFFFFF;

$alert-padding-x: 0.5em;
$alert-padding-y: 0.5em;
